<h1 mat-dialog-title >Orçamento</h1>
<div class="row">
  <div class="col-sm-12">
  <p>Preencha corretamente os dados para que possamos entrar em contato.</p>



  </div>
</div>
<mat-form-field class="example-full-width">
  <mat-label>Nome Completo</mat-label>
  <input matInput [(ngModel)]="data.name" required placeholder="Nome Completo">
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>E-mail</mat-label>
  <input matInput email [(ngModel)]="data.email" required  placeholder="E-mail">
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Telefone/WhatsApp</mat-label>
  <input matInput [(ngModel)]="data.phone" required placeholder="Telefone/WhatsApp">
</mat-form-field>

<mat-form-field class="example-full-width">
  <mat-label>Obeservações</mat-label>
  <textarea matInput [(ngModel)]="data.message" placeholder="Observações"></textarea>
</mat-form-field>

<div mat-dialog-actions>
  <button mat-button class="btn btn-salmon rounded-0" (click)="onNoClick()">Não obrigado.</button>
  <button mat-button class="btn btn-salmon rounded-0" [mat-dialog-close]="data" cdkFocusInitial>Enviar</button>
</div>
