<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
      <div class="col-xl-12">
        
          <div class="container card b-0 pb-0 mt-0 pt-0">
            <div class="row card-body pt-0 px-0 show" id="card-1">
              <div class="radio-group row justify-content-between px-4 pb-5">
                
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" style="padding-bottom: 60px">
                      <div class="toolt">
                          <h2 class="text-white">
                             {{ questionsTitle }}
                              <i class="fas fa-info-circle pl-2" style="font-size: 15px;"></i>
                          </h2>
                          <span class="toolttext mt-2">
                              Escolha o tipo de plataforma na qual o sistema será utilizado e desenvolvido.
                          </span>
                      </div>
                  </div>
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
                      <h3 class="text-white">Valor do Projeto</h3>
                      <strong><p class="h1 text-salmon">R$ {{ amount | currency }}</p></strong>
                  </div>
              </div>

              
 

              <mat-horizontal-stepper [linear]="isLinear" #stepper style="background-color:#333;">
              
                <mat-step *ngFor="let question of questions">
                  <div class="row justify-content-between px-3 mb-4">
               
                    <div class="cardd next"  *ngFor="let details of question"  (click)="goForward(stepper, details.label,  details.work, 2)">
                       <div class="face face1">
                         <div class="content">
                           <p class="bruno">
                              {{ details.question }}
                           </p>
                         </div>
                       </div>
                       <div class="face face2">
                          <h2 style="font-size: x-large;">{{ details.label }}</h2>
                       </div>
                    </div>  
                     
                   </div><br>
                    <div>
                      <button class="btn btn-outline-light prev mx-2"  (click)="goBack(stepper, 0)">
                        <span class="fa fa-long-arrow-left pr-1"></span>
                        Voltar
                    </button>
                    </div>

                </mat-step>
               
              </mat-horizontal-stepper>



          </div>
          </div>
       </div>


       
    </div>
    <div class="row justify-content-md-center px-5 py-2" id="completado">
      <div class="count text-center col-12 mb-4">
          <p class="mb-sm-0 pb-sm-0 text-white">
              <strong>
                  <span id="cnt">{{ progress |  number:'1.0-0' }}</span>%
              </strong>
              <span class="yellow-text">Completado</span>
          </p>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-4  p-0">
        <mat-progress-bar mode="determinate" value="{{ progress }}"></mat-progress-bar>
      </div>
      <a href="http://inovedados.com.br" style="position:fixed;width:60px;height:60px;bottom:20px;right:50px;" target="_blank">
        <img src="assets/inove.png">
    </a>
  </div>
</div>
  
