.containe{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
    padding: 0px;
  }

  .cardd{
    position: relative;
    width: 280px;
    height: 330px;
    margin-right: 10px;
    padding: 0px;
    background: #fff;
    box-shadow: 0 15px 60px rgba(0,0,0, .5);
    border-radius: 0px;
  }

  .cardd .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardd .face.face1{
    box-sizing: border-box;
    padding: 20px;
  }

  .cardd .face.face1 h2{
    margin: 0;
    padding: 0;
  }

  .cardd .face.face1 .content{
    font-size:1.2em;
    margin:0;
    padding:0 0 1em 0;
    font-weight:500;
  }

  .card .face.face2{
    background: #111;
    transition: 0.5s;
  }

  .cardd:nth-child(1) .face.face2{
    background: linear-gradient(20deg, #0e0000, #d90e1f);
    border-radius: 0px;
  }

  .cardd:nth-child(2) .face.face2{
    background: linear-gradient(20deg, #0e0000, #d90e1f);
    border-radius: 0px;
  }

  .cardd:nth-child(3) .face.face2{
    background: linear-gradient(20deg, #0e0000, #d90e1f);
    border-radius: 0px;
  }

  .cardd:nth-child(4) .face.face2{
    background: linear-gradient(45deg, #0e0000, #d90e1f);
    border-radius: 0px;
  }

  .cardd:hover .face.face2{
    height: 100px;
    border-radius: 0 0 0px 0px;

  }

  .cardd .face.face2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 0px 0 0 0px;
  }

  .cardd .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 9em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
  }

  .cardd:hover .face.face2 h2{
    font-size: 2em;
  }

  .cardd:hover .face.face2 img{
    width: 15%;
  }

  .card.rounded-0.b-0{
    background-color: #333;
    border: none;
  }

  .card-header {
    background-color: #333 !important;
    border: none !important;
  }

  .rec {
    margin-left: -300px;
  }

  .text-salmon {
    color: #d90e1f;
  }

  .btn-salmon {
    color: white !important;
    background-color: #d90e1f !important;
    border-color: #d90e1f !important;
  }
  .btn-salmon:hover {
    background-color: rgb(206, 55, 57) !important;
    border-color: rgb(206, 55, 57) !important;
  }

  .list-group-item {
    background-color: #ffffff0a !important;
  }

  ::ng-deep .mat-progress-bar-fill::after {
    background-color: #d90e1f;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
  }

::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

.center-vertically{
  vertical-align: 8px;
}
