
<div class="row">
  <div class="col-sm-12 text-center">

            <div class="dummy-positioning d-flex mt-4">
              <div class="success-icon">
                <div class="success-icon__tip"></div>
                <div class="success-icon__long"></div>
              </div>
            </div>

<br>
    <h2>Seu orçamento foi enviado com sucesso.</h2>

</div>
</div>
<div class="row">
<div class="col-sm-12 mb-4">
<div mat-dialog-actions class="example-full-width" align="end">
  <button mat-button class="btn btn-light mt-0 mr-2" (click)="onNoClick()">Fechar</button>
</div>
</div>
</div>
